@layout EmptyLayout
@page "/till"

@attribute [Authorize]

<PageTitle>Front Till</PageTitle>
<title>Front Till</title>

@inject ProductService ProductService
@inject CustomerService CustomerService
@inject EmployeeService EmployeeService
@inject UserManager<Employee> UserManager
@inject OrderService OrderService
@inject NavigationManager Navigation

@rendermode @(new InteractiveServerRenderMode(false))
@attribute [StreamRendering]

<ConfirmDialog @ref="ConfirmModal" />

<div class="container-fluid" style="min-height: 100vh" id="content">
    @* Nav Bar *@
    <div class="row">
        <NavMenu Height="5vh" />
    </div>
    <div class="row" style="min-height: 95vh">
        @* Products/Orders View *@
        <div class="col-md-6 p-1">
            <div class="h-100 bg-light">
                <Tabs NavStyle="NavStyle.Pills">
                    @* Products Tab *@
                    <Tab Active="true">
                        <TitleTemplate>
                        <i class="bi bi-box-seam"></i> Products
                        </TitleTemplate>
                        <Content>
                            <div class="p-1">
                                @if (products is null)
                                {
                                    <UserMessage Color="AlertColor.Secondary" Type="MessageType.Loading" />
                                }
                                else if (products.Count <= 0)
                                {
                                    <UserMessage Color="AlertColor.Warning" Type="MessageType.Info"Message="No available products found." />
                                }
                                else
                                {
                                    <div class="row row-cols-auto align-items-start overflow-auto" style="max-height: 85vh">
                                        @foreach (var item in products)
                                        {
                                            <div>
                                                <Card Color="CardColor.Dark" Class="mb-4">
                                                    <img class="rounded" src="/images/placeholder.jpg" alt="placeholder" width="208" height="208" style="object-fit: cover;" />
                                                    <CardBody Class="position-absolute bg-light bg-opacity-75 w-100 rounded-bottom" Style="bottom: 0;">
                                                            <CardTitle Class="text-black">
                                                                @if (item.Name.Length > 33)
                                                                {
                                                                    <Tooltip Color="TooltipColor.Light" Placement="TooltipPlacement.Right" Class="d-inline-block" Title="@item.Name">
                                                                        @item.Name.Substring(0, Math.Min(30, item.Name.Length))...
                                                                    </Tooltip>
                                                                }
                                                                else
                                                                {
                                                                    @item.Name
                                                                }
                                                            </CardTitle>
                                                        <CardSubTitle Class="mb-2 text-black">
                                                            @String.Format("{0:C2}", item.Price)
                                                        </CardSubTitle>
                                                        <form @onsubmit="() => AddToCart(item)">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="inputGroupPrepend">Qty</span>
                                                                </div>
                                                                <InputNumber @bind-Value="@Amount" TValue="int" class="form-control" placeholder="Qty"  />
                                                                <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Add</Button>
                                                            </div>
                                                        </form>
                                                    </CardBody>
                                                    <Tooltip Color="TooltipColor.Light" Placement="TooltipPlacement.Right" Class="d-inline-block float-end position-absolute" Style="top: 0; right: 4px; font-size: 1.25em;" Title="<h6><b>Ingredients</b></h6> N/A <h6><b>May Contain</b></h6> N/A" IsHtml=true>
                                                        <Badge Color="BadgeColor.Info" IndicatorType="BadgeIndicatorType.RoundedPill"><Icon Name="IconName.InfoCircleFill"></Icon></Badge>
                                                    </Tooltip>
                                                </Card>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </Content>
                    </Tab>
                    @* Orders Tab *@
                    <Tab>
                        <TitleTemplate>
                        <i class="bi bi-boxes"></i> Orders
                        </TitleTemplate>
                        <Content>
                            <p class="mt-3">This is the placeholder content for the <b>Orders</b> tab.</p>
                        </Content>
                    </Tab>
                </Tabs>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row h-100 p-1">
                @* Cart *@
                <div class="col-md-6 bg-light p-0" >
                    <div style="height:94vh; overflow-y:scroll">
                        <table class="table table-striped table-hover">
                            <thead class="position-sticky top-0 table-primary" >
                                <tr>
                                    <th width="15%" class="text-center">Qty</th>
                                    <th>Product</th>
                                    <th width="20%" class="text-end">Price</th>
                                    <th width="10%" class="text-center">
                                        <Button @ref="ClearButton" @onclick="ClearCart" Color="ButtonColor.Danger" Outline="true">Clear</Button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                @if (CurrentOrder.OrderItems is null || CurrentOrder.OrderItems.Count <= 0)
                                {
                                    <tr>
					                    <td colspan="4" class="text-center bg-light">
                                            <UserMessage Color="AlertColor.Secondary" Type="MessageType.Info" Message="Cart is empty." />
                                        </td>
                                    </tr>
                                }
                                @foreach (var item in CurrentOrder.OrderItems!)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <Button @onclick="() => ChangeQty(item, 1)" Color="ButtonColor.Secondary" Size="ButtonSize.ExtraSmall" Class="m-0">+</Button>
                                            @item.Quantity
                                            <Button @onclick="() => ChangeQty(item, -1)" Color="ButtonColor.Secondary" Size="ButtonSize.ExtraSmall" Class="m-0">-</Button>
                                        </td>
                                        <td>
                                            @if (item.ProductName.Length > 53)
                                            {
                                                <Tooltip Color="TooltipColor.Light" Placement="TooltipPlacement.Right" Class="d-inline-block" Title="@item.ProductName">
                                                    @item.ProductName.Substring(0, Math.Min(50, item.ProductName.Length))...
                                                </Tooltip>
                                            }
                                            else
                                            {
                                                @item.ProductName
                                            }
                                        </td>
                                        <td class="text-end">
                                            @String.Format("{0:C2}", item.RowPrice)
                                            <br />
                                            <span class="text-muted" style="font-size: small;">(@String.Format("{0:C2}", item.Product!.Price))</span>
                                        </td>
                                        <td class="text-end">
                                            <Button @onclick="() => RemoveFromCart(item)" Color="ButtonColor.Danger"><i class="bi bi-trash"></i></Button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    @* Payment Proccessing *@
                    <div class="row" style="height: 58vh">
                        <div class="col p-0">
                            <Card Class="border-primary border-5 h-100">
                                <h4 class="card-header mt-2">Order Proccessing</h4>
                                <CardBody>
                                    <EditForm FormName="OrderForm" EditContext="editContext" OnValidSubmit="SubmitOrder">
                                        <DataAnnotationsValidator />
                                        <ValidationMessage For="() => CurrentOrder.EmployeeID" />
                                        <ValidationMessage For="() => CurrentOrder.OrderItems" />

                                        <div class="form-group row mt-2 mb-2">
                                            <div class="col-md-5 col-md-12">
                                                <label>Customer</label>
                                                <AutoComplete @bind-Value="@customerPhone"
                                                              TItem="Customer"
                                                              DataProvider="CustomersDataProvider"
                                                              PropertyName="PhoneAndName"
                                                              Placeholder="Search a phone number..."
                                                              OnChanged="(Customer customer) => OnAutoCompleteChanged(customer)" />
                                                <ValidationMessage For="() => CurrentOrder.CustomerID" />
                                                @if (CurrentOrder.OrderedBy is null)
                                                {
                                                    <span class="text-muted">No customer selected.</span>
                                                }
                                                else
                                                {
                                                    <span class="text-muted">Selected: @CurrentOrder.OrderedBy.PhoneAndName</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <div class="col-md-5 col-md-12">
                                                <label>Payment Type</label>
                                                <InputSelect class="form-select" @bind-Value="@CurrentOrder.PaymentType">
                                                    <option selected disabled>Select a Payment Type</option>
                                                    <option value="Cash">Cash</option>
                                                    <option value="Credit">Credit</option>
                                                    <option value="CashAndCredit">Cash & Credit</option>
                                                    <option value="ETransfer">E-Transfer</option>
                                                    <option value="Other">Other</option>
                                                </InputSelect>
                                                <ValidationMessage For="() => CurrentOrder.PaymentType" />
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <div class="col-md-5 col-md-12">
                                                <label>Discount Amount (%)</label>
                                                <NumberInput TValue="int" @bind-Value="@discount" EnableMinMax="true" Min="0" Max="100" />
                                            </div>
                                        </div>
                                        <Card Class="border-secondary text-end mb-2">
                                            <div class="form-group row mb-2">
                                                <label class="col-md-6 col-form-label">Sum of Items: </label>
                                                <div class="col-md-6">
                                                    <input class="form-control-plaintext" readonly="" value="@String.Format("{0:C2}", CurrentOrder.TotalSum)" />
                                                </div>
                                                <label class="col-md-6 col-form-label">Discount: </label>
                                                <div class="col-md-6">
                                                    <input class="form-control-plaintext" readonly="" value="@String.Format("{0:C2}", CurrentOrder.TotalSum * (discount / 100.0m))" />
                                                </div>
                                                <label class="col-md-6 col-form-label">Total Sum: </label>
                                                <div class="col-md-6">
                                                    <input class="form-control-plaintext" readonly="" value="@String.Format("{0:C2}", CurrentOrder.TotalSum - (CurrentOrder.TotalSum * (discount / 100.0m)))" />
                                                </div>
                                            </div>
                                        </Card>
                                        <div class="row mb-2">
                                            <AuthorizeView Context="authcontext">
                                                <span class="text-muted text-end mt-1 mb-1">This Order will be processed by <strong>@authcontext.User.Identity!.Name</strong></span>
                                            </AuthorizeView>
                                            <Button @ref="submitButton" Type="ButtonType.Submit" Color="ButtonColor.Success" Block=true Size="ButtonSize.Large">Proccess Order</Button>
                                        </div>
                                    </EditForm>
                                </CardBody>
                            </Card>
                        </div>
                    </div>
                    @* Calculator *@
                    <div class="row" style="height: 36vh">
                        <div class="col bg-secondary">
                            <span><i class="fa-solid fa-calculator me-1"></i> Calculator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private List<Product>? products { get; set; } = new();

    private int Amount { get; set; } = 1;

    private EditContext editContext { get; set; } = default!;
    private ValidationMessageStore? messageStore;
    private Button submitButton { get; set; } = default!;

    private Button ClearButton { get; set; } = default!;
    private ConfirmDialog ConfirmModal = default!;

    private Order CurrentOrder { get; set; } = new();

    private string? customerPhone;
    private int discount { get; set; } = 0;


    protected override async Task OnInitializedAsync()
    {
        CurrentOrder ??= new();
        editContext = new(CurrentOrder);
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
        await LoadData();
    }
    private void HandleValidationRequested(object? sender, ValidationRequestedEventArgs args)
    {
        messageStore?.Clear();

        // Custom validation logic
        if (CurrentOrder.OrderItems is null || CurrentOrder.OrderItems.Count <= 0)
        {
            messageStore?.Add(() => CurrentOrder.OrderItems!, "Cannot proccess when cart is empty.");
        }
    }

    public async Task LoadData()
    {
        products = null;
        await Task.Delay(10);
        products = await ProductService.GetAvailableProducts();
    }

    public async Task ClearCart()
    {
        if (CurrentOrder.OrderItems!.Count <= 0)
        {
            return;
        }
        var confirmation = await ConfirmModal.ShowAsync(
            title: "Are you sure you want to clear the cart?",
            message1: "This will remove all products/orders in the cart.",
            message2: "Do you want to proceed?"
        );

        if (confirmation)
        {
            CurrentOrder.OrderItems!.Clear();
        }
    }

    public void AddToCart(Product product)
    {
        if (product is not null)
        {
            CurrentOrder.OrderItems!.Add(new OrderItem()
            {
                Product = product,
                ProductId = product.Id,
                Quantity = Amount
            });

            Amount = 1;
            editContext.Validate();
        }
    }

    public void RemoveFromCart(OrderItem orderItem)
    {
        if (orderItem is not null)
        {
            CurrentOrder.OrderItems!.Remove(orderItem);
        }

    }

    public void ChangeQty(OrderItem orderItem, int amount)
    {
        if (orderItem is not null)
        {
            if (orderItem.Quantity <= 1 && amount < 0)
            {
                CurrentOrder.OrderItems!.Remove(orderItem);
            }
            else if (orderItem.Quantity <= 99)
            {
                if (orderItem.Quantity == 99 && amount > 0)
                    return;
                CurrentOrder.OrderItems!.FirstOrDefault(o => o.DateCreated == orderItem.DateCreated)!.Quantity += amount;
            }
        }
    }

    private async Task<AutoCompleteDataProviderResult<Customer>> CustomersDataProvider(AutoCompleteDataProviderRequest<Customer> request)
    {
        var customers = await CustomerService.GetExistingCustomers(request.Filter.Value);
        return await Task.FromResult(new AutoCompleteDataProviderResult<Customer> { Data = customers, TotalCount = customers.Count() });
    }

    private async Task OnAutoCompleteChanged(Customer customer)
    {
        if (customer is not null) {
            CurrentOrder.CustomerID = customer.Id;
            CurrentOrder.OrderedBy = customer;

            var isEmployee = await EmployeeService.GetEmployeeByPhoneNumber(customer.PhoneNumber);

            if (isEmployee is not null)
            {
                discount = 50;
            }
            else
            {
                discount = 0;
            }

            editContext.Validate();
            return;
        }

        CurrentOrder.CustomerID = 0;
        CurrentOrder.OrderedBy = null;
        discount = 0;
    }

    public async Task SubmitOrder()
    {
        submitButton.ShowLoading("Proccessing...");

        var confirmation = await ConfirmModal.ShowAsync(
            title: "Process Payment for Customer",
            message1: "Please proccess the customer's payment in person to complete the transaction.",
            message2: "Have you completed the transaction?"
        );

        if (confirmation)
        {
            CurrentOrder.EmployeeID = UserManager.GetUserId((await authenticationStateTask).User);

            var result = await OrderService.CreateOrder(CurrentOrder);

            if (result is null || !result.HasValue)
            {
                submitButton.HideLoading();
                return;
            }

            submitButton.HideLoading();
            Navigation.Refresh(true);
        }

        submitButton.HideLoading();
        return;

    }
}
